---
import NavLink from "../NavLink"
import { Image } from "astro:assets"
import LogoPlaceHolder from '/public/images/Weather Site Logo.png'
import navMenuConfig from '@/config/nav_menu.json'
import SettingsContainer from "../functional components/controls/SettingsContainer";

export interface NavbarProps {
  logo_image?: ImageMetadata,
  logo_title?: string,
  height?: number,
  width?: number,
}

const {
  logo_image = LogoPlaceHolder, 
  logo_title,
  height = 80,
  width = 80,
  } = Astro.props;
---

<nav class="bg-transparent hidden md:flex flex-row justify-between items-center w-full p-2 px-5 z-10">
  <a
    class="flex flex-row items-center"
    href="/">
    <Image
      width={width}
      height={height}
      loading={'eager'}
      src={logo_image}
      alt={logo_image}
    />
  </a>
  <!-- Desktop View -->
  <SettingsContainer client:load/>
</nav>