---
import { Image } from "astro:assets"
import SettingsContainer from "../functional components/controls/SettingsContainer";

export interface NavbarProps {
  logo_image: ImageMetadata,
  logo_title?: string,
  height?: number,
  width?: number,
}

const {
  logo_image, 
  logo_title,
  height = 80,
  width = 80,
  } = Astro.props;
---

<nav class="bg-transparent hidden md:flex flex-row justify-between items-center w-full p-2 px-5 z-10">
  <a
    class="flex flex-row items-center"
    href="/">
    <img
      width={width}
      height={height}
      loading={'eager'}
      src={logo_image.src}
      alt={'logo.png'}
    />
  </a>
  <!-- Desktop View -->
  <SettingsContainer client:load/>
</nav>