@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme{
  --color-primary: #284DA3;
  --color-primary-darken: #152956;
  --color-secondary: #F4B740;
  --color-accent: #C14953;
  --color-background: #FBF5F3
}

.mask-card {
  mask-image: 
    linear-gradient(black, black), 
    linear-gradient(black,black);

    mask-size: 100% 100%;
    mask-position: 
      center,
      calc(50% - 1.5) calc(100% -3rem);

    -webkit-mask-image:
      linear-gradient(black, black),
      linear-gradient(black, black);
    -webkit-mask-size:
      100% 100%,
      calc(50% - 1.5rem) calc(100% - 3rem);
    -webkit-mask-position:
      center,
      left 1.5rem center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;

    mask-repeat: no-repeat;
    mask-composite: exclude;
}

.custom-scrollbar::-webkit-scrollbar{
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(97, 97, 116);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(50, 52, 179);
  border-radius: 40px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover{
  background: rgb(67, 111, 255);
}